/*General*/
body {
    background-color: #100645;
    font-family: "Livvic", serif;
    color: white;
}

header {
    padding: 0 12px;
    padding-top: 80px;
    background-color: #2D28EB;
    border-radius: 0 0 30px 30px;
}

h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    font-weight: 600;
}


/*header*/
.col-12 {
    text-align: center;
    height: 310px;
    border-radius: 0 0 30px 30px;
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

/*advent*/
#advent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 20px;
}

/*Reset button*/
.reset {
    text-align: center;
}

#reset-button {
    background-color: #2E6754;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px 15px;
    margin-top: 30px;
    border-radius: 15px;
}

/*BOX*/
.box {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    height: 130px;
    width: 130px;
    background-color: #2E6754;
    cursor: pointer;
}

.box>div,
.opened-box>div {
    font-size: 45px;
    font-weight: bold;
}

.last-box {
    flex-grow: 1;
    background-color: #D4D6F5;
    color: #2E6754;
}

.opened-box {
    cursor: default;
    background-color: transparent;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    height: 130px;
    width: 130px;
}

/*Modal overlay*/
#overlay {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 6, 69, 0.7);
}

#overlay .modal-message {
    background-color: #E78AB6;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    max-width: 900px;
    color: #100645;
}

.modal-footer {
    margin-top: 20px;
    justify-content: center;
}

#btn-modal {
    background-color: #2D35F3;
    border: 0;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
}